<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>br.com.impacta.Servlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>br.com.impacta.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/cadastrar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/buscar</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>meuFiltro</filter-name>
    <filter-class>br.com.impacta.MeuFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>meuFiltro</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>