body{
}

.login-titulo{
	color: #6e6e6e;
	text-transform: uppercase;
	font-family: 'verdana', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}

.wrapper-content {
    text-align: center;
    width: 200px;
    margin: auto auto;
}

.wrapper-content_2 {
    text-align: center;
    width: 500px;
    margin: auto auto;
}

.input-global{
	width: 100%;
	margin-bottom: 5px;
}

@font-face {
    font-family: "katakana";
    src: url("../font/katakana tfb.ttf") format("truetype");
}

a.entrar, a.cadastrar{
	text-transform: uppercase;
	font-weight: bold;
}


.email, .senha{
	background-repeat: no-repeat;
	background-position-x: 5px;
	background-position-y: 9px;
	padding-left: 31px!important;
}

.email{
	background-image: url(../img/envelope.jpg);
}

.senha{
	background-image: url(../img/cadeado.jpg);
}